h1{
  margin: 0px;
}
.Login{
  width: 100vw; 
  height: 100vh; 
  background-color: #a2c4f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.LoginBox{
  width: 80vw; 
  height: 80vh;
  background-color: black;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Right{
  width: 50%; 
  height: 100%;
  background-color: white;
  border-radius: 15px 0px 0px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.centerbtn{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Left{
  width: 50%; 
  height: 100%;
  background-color:#3782e8;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logopic{
  scale:1.5;
  border-radius: 15px;
}

.SignUp{
  width: 100vw; 
  height: 100vh; 
  background-color: #3782e8;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Box{
  background-color:azure;
  width: 50vw; 
  height: 95vh;
  border: 1px solid #3782e8;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lcent{
  text-align: center;

}
.lbox{
  width: 30vw; 
  height: 70vh;
  /* border: 1px solid black; */
}

.gendercss{
  display: flex;
  justify-content: space-between;
}

.Navbar{
  width: 100vw; 
  height: 10vh;
  /* border: 1px solid black; */
  background-color: #F8F8F8;
}

.contain{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logopic2{
  width: 9vh; 
  height: 9vh;
  background-color: #F8F8F8;
}
.title{
  margin-left: 1vw;
  font-family: 'Ubuntu';
  font-size: 32px;
}

.MainComp{
  width: 100vw;
  height: 90vh;
  /* border: 1px solid black; */
  display: flex;
}

.mainNav{
  width: 10vw; 
  height: 90vh;
  /* border: 1px solid red;  */
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainPosts{
  width: 55vw; 
  height: 90vh;
  /* border: 1px solid purple; */
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainChats{
  width: 35vw; 
  height: 90vh;
  /* border: 1px solid blue; */
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.bar{
  width: 4vw;
  height: 70vh; 
  border-radius: 25px;
  background-color: #EFEFEF;
  display: flex;
  
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.unselect{
  /* margin-left: 0.75vw;
  margin-top: 1vw; */
  width: 2.5vw; 
  height: 2.5vw; 
}

.unselect:hover{
  cursor: pointer;
  filter: invert(43%) sepia(99%) saturate(2340%) hue-rotate(199deg) brightness(96%) contrast(88%);
}
.select{
  width: 2.5vw; 
  height: 2.5vw; 
  filter: invert(43%) sepia(99%) saturate(2340%) hue-rotate(199deg) brightness(96%) contrast(88%);
}

.postsDiv{
  width: 50vw;
  height: 80vh; 
  overflow-y: auto;
  /* border: 1px solid black; */
  background-color: white;
}

.PostMain{
  margin-top: 1vh;
  width: 48vw;
  height: 50vh; 
  background-color: #EFEFEF;
  border-radius: 20px;
}

.mainDiv{
  width: 25vw;
  height: 70vh;
  border-radius: 25px;
  background-color: #EFEFEF;

}
.selection{
  width: 11vw;
  height: 10vh;
  border-radius: 50px;
  background-color: #EFEFEF;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.Text{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
}
.AllTexts{
  margin-left: 1vw;
  width: 23vw;
  height: 60vh;
  /* border: 1px solid black;  */
  overflow-y: auto;
}

.chatbox{
  margin-top: 1vh; 
  width: 21vw;
  height: 10vh;
  /* border: 1px solid black; */
  border-radius: 20px;
  background-color: #F8F8F8;
  display: flex;
  justify-content:space-evenly;
  align-items: center;
}

.profilephoto{
  width: 9vh;
  height: 9vh;
  border-radius: 50%;
  background-color: #EFEFEF;
}

.profileinfo{
  width: 15vw; 
  height: 9vh;
  border: 1px solid #EFEFEF; 
}

.MForm{
  width: 25vw;
  height: 70vh;
  border-radius: 25px;
  background-color: #EFEFEF;
  border: 1px solid black; 
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
}

.PostPic{
  width: 23vw;
  height: 30vh; 
  border-radius: 25px; 
  background-color: white;
}
.chooseimg{
  width: 15vw;
  height: 5vh;
  border-radius: 25px;
}

.chooseimg:hover{
  width: 15vw;
  height: 5vh;
  background-color: #3782e8;
  border-color: #3782e8;
  color: white;
  border-radius: 25px;
}

.savebtn{
  width: 15vw;
  height: 5vh;
  border-radius: 25px;
}

.savebtn:hover{
  width: 15vw;
  height: 5vh;
  background-color: black;
  border-color: black;
  color: white;
  border-radius: 25px;
}

.mainAccount{
  width: 55vw; 
  height: 90vh;
  /* border: 1px solid purple; */
  /* background-color: purple; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center; 
}

.AccountInfo{
  width: 50vw; 
  height: 25vh;
  /* background-color: aqua; */
  display: flex;
  justify-content: center;
  align-items: center; 
}

.MainImageHolder{
  width: 12vw; 
  height: 25vh; 
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.ImageHolder{
  width: 25vh;
  height: 25vh;
  background-color: #EFEFEF;
  border-radius: 50%;
}
.AccountPosts{
  width: 50vw;
  height: 55vh;
  /* background-color: aquamarine;  */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.AccountDets{
  width: 38vw; 
  height: 25vh;
  background-color: #EFEFEF;
}
/* .PostTitle{
  width: 50vw;
  height: 5vh;
  background-color: #3782e8;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.PostTitleText{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 1vh;
  width: 55vw;
  border-radius: 25px;
  background-color: #E8E8E8;
}
.AllPosts{
  margin-left: 14vw;
  width: 40vw;
  height: vh;
  /* border: 1px solid black;  */
  overflow-y: auto;
}

.CommunityPage{
  width: 55vw; 
  height: 90vh;  
}
.PostMain2{
  margin-top: 10px;
  width: 35vw;
  height: 30vh;
  border-radius: 25px;
  background-color: #E8E8E8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.PostPic2{
  width: 18vw;
  height: 25vh;
  border-radius: 15px;
  background-color: #F8F8F8;
}
.PostCaption2{
  width: 15vw;
  height: 25vh;
  /* background-color: #F8F8F8; */
}
.PostCaption3{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  color: #3782e8;
}

.chatButton{
  border:none;
}

.messagebox{
  width:fit-content;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: aqua;
  border-radius: 15px;
  margin:10px;
}

.leftbox{
  display: flex;
  justify-content:start
}

.rightbox{
  display: flex;
  justify-content: end;
}

.FriendPage{
  width: 55vw; 
  height: 90vh;
  background-color: #a2c4f3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FriendsTitle{
  width: 15vw;
  height: 90vh;
  background-color: #E8E8E8;
}
.AllPossibleFriends{
  width: 40vw;
  height: 90vh;
  background-color: white;
  overflow-y: auto;
}
.AddFriendTab{
  margin-left: 5vw;
  margin-top: 2vh;
  width: 30vw; 
  height: 20vh;
  background-color: #a2c4f3;
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.FriendNText{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
}
.FriendImage{
  width: 15vh;
  height: 15vh;
  border-radius: 50%;
  background-color: #E8E8E8;
}
.FriendName{
  width: 15vw; 
  height: 5vh;
  background-color: #E8E8E8;
}
.Follow{
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  font-weight: 700;
}
/* .CaptionText{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
} */